<div class="container">
  <div *ngIf="questions.length">
    <hr>
    <div class="container text-center">{{questions[currentQuestion].question}}</div>
    <hr>
    <div *ngFor="let answer of questions[currentQuestion].answers; let i = index">
      <div>
        <input type="radio"
               name="answer"
               [id]="i"
               [value]="answer.answer"
               [checked]="answer.checked"
               (change)="onCheck(answer.answer, questions[currentQuestion].answers)">
        <label [for]="i"><span>{{answer.answer}}</span></label>
      </div>
    </div>
    <hr>
    <div class="container" *ngIf="completed">Your result is: {{totalPoints}} points</div>
           <button
      [disabled]="currentQuestion === 0 || completed"
      class="btn btn-success right"
      (click)="onBack()">
      BACK
    </button>
    <button class="btn btn-info pull-right" *ngIf="currentQuestion !== questions.length - 1 " (click)="onNext()">NEXT</button>
    <button class="btn btn-warning pull-right " *ngIf="currentQuestion === questions.length - 1" (click)="showTotalPoints()">DONE
    </button>
  </div>
</div>

